:root{
    --dj-blue: #2196f3;
    --dj-yellow: #FFC107;
    --dj-red: #FF5722;
    --dj-green: #4caf50;
    --dj-gold: #ffd700;
    --dj-purple: #673ab7;
    --dj-black: #000000;
    --dj-white: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif
}

body{
}


#khalad-fall{
}

#khalad-fall>img{
}

#we-the-best{
}


.main-background{
}

.center-img{
}

.center-text{
}

nav{
}

.left{
}

.right{
}

a:link{
}

a:visited{
}

a:hover{
}

header{
}

footer{
}

.border-img{
}

button{
}

button:hover{
}


li{
}

table,td{
}

table, td > img{
}

td > p{

}